nav {
    background-color: #1F2235;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }

    .nav-logo {
        margin-left: 40px;
        font-size: 23px;
        font-weight: bolder;
    }
}