<div class="herobanner">
    <div class="banner">
        <div class="social-link">
            <a href="https://www.instagram.com/skewmosdev/" target="_blank">
                <fa-icon [icon]="faInstagram" class="faIcon"></fa-icon>
            </a>
           <a href="https://twitter.com/SkewmosDev" target="_blank"> 
                <fa-icon [icon]="faTwitter" class="faIcon"></fa-icon>
           </a>
           <a href="https://github.com/Skewmos" target="_blank">
            <fa-icon [icon]="faGithub" class="faIcon"></fa-icon>
           </a>
        </div>
        <div class="banner-text">
            <h1>Je suis Jérémie Legrand</h1>
            <p>Développeur web full stack junior </p>
        </div>
        <div class="banner-btn">
            <button class="btn btn-primary">Portfolio</button>
        </div>
    </div>
</div>

<div class="project">

<h2 class="text-center">Mes projets</h2>

<div class="categoriesBox">
    <div *ngFor="let c of categories" class="banner-btn">
        <button  class="btn btn-primary">{{c.name}}</button>
    </div>
</div>

<div class="cardContainer">
   <div class="card" *ngFor="let p of project">
    <h3>
        {{p.name}}
    </h3>
    <p>
        {{p.description}}
    </p>
   </div>
</div>
</div>